[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "externals/armbian-build"]
	path = externals/armbian-build
	url = https://github.com/armbian/build.git
